.clearfix
  = f.label :name, t("activerecord.attributes.steplist.name", :default => "Name")
  .input
    = f.text_field :name, :class => 'xlarge'
    %span.help-block Ex: a simple text
.clearfix
  = f.label :description, t("activerecord.attributes.steplist.description", :default => "Description")
  .input
    = f.text_field :description, :class => 'xlarge'
    %span.help-block Ex: a simple text
.clearfix
  = f.label :user_id, t("activerecord.attributes.steplist.user_id", :default => "User")
  .input
    = f.number_field :user_id, :class => 'xlarge'
    %span.help-block Ex: a simple text
.actions
  %button.btn.primary{:type => "submit"}
    = t("web-app-theme.save", :default => "Save")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), steplists_path, :class => "btn"
