.block
  .content
    %h2
      = t(".steplists")
    .inner
      %table.zebra-stripped
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.steplist.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @steplists.each do |steplist|
          %tr{:class => cycle("odd", "even")}
            %td{:valign => "middle"}
              = steplist.id
            %td
              = link_to steplist.name, steplist_path(steplist)
            %td
              = steplist.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", steplist_path(steplist), :class => "btn"
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_steplist_path(steplist), :class => "btn"} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", steplist_path(steplist), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => "btn danger"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
