.login
  .login-header
    %h2
      Sign in
  .flash
    - flash.each do |type, message|
      %div{:class => "alert-message #{type}"}
        %p= message
  .space
  %login-form
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .clearfix
        = f.label :email
        .input
          = f.text_field :email, :class => 'xlarge'
      .clearfix
        = f.label :password
        .input
          = f.password_field :password, :class => 'xlarge'
      - if devise_mapping.rememberable?
        .space
        .clearfix
          = f.label :remember_me
          .input
            = f.check_box :remember_me
      .space
      %button.btn{:type => "submit"}
        = t("web-app-theme.signin", :default => "Sign in")
  .space
  = render :partial => "devise/shared/links"
